<!-- <div class="wrapper flex  content-center justify-start bg-black"> -->
<!-- <app-quiz [quizId]="qid"></app-quiz> -->
<!-- <g-navbar [menu]="navbarMenu"></g-navbar> -->
<div class="container-x">
  <app-quiz class="self-stretch" [quizId]="qid"></app-quiz>
  <!-- <custom-stepper [listofContent]="['A', 'B', 'C']"></custom-stepper> -->
</div>
<!-- <g-navbar [menu]="navbarMenu"></g-navbar>
  <g-button [options]="{
    type: 0,
    title: 'haha'
  }"></g-button>
  <g-button [options]="{
    type: 1,
    title: 'haha'
  }"></g-button> -->

<!-- <div class="container-x">
    <app-quiz class="self-stretch"></app-quiz>
  </div> -->
<!-- </div> -->
