<!-- <div class="xl:container lg:container w-screen mx-auto">
   <app-gluon-chapter></app-gluon-chapter> -->
<!-- <app-quiz class="self-stretch" [quizId]="qid"></app-quiz> -->
<!-- </div> -->
<!-- <div class="wrapper flex  content-center justify-start bg-black"> -->
<!-- <app-quiz [quizId]="qid"></app-quiz> -->
<!-- <g-navbar [menu]="navbarMenu"></g-navbar> -->
<!--<div class="container-x">-->
<!--  <app-quiz class="self-stretch" [quizId]="qid"></app-quiz>-->
<!--  &lt;!&ndash; <custom-stepper [listofContent]="['A', 'B', 'C']"></custom-stepper> &ndash;&gt;-->
<!--</div>-->
<!-- <div class="container-x">
    <app-quiz class="self-stretch"></app-quiz>
  </div> -->
<!-- </div> -->

<div class="w-full lg:container mx-auto">
  <app-gluon-chapter></app-gluon-chapter>
</div>